.test{
	height:100vh;
}


footer{
	height:8%;
}

.containeurOrange{
	margin-bottom:0px;
}

.slider{
	margin-top:0.75rem;
}

p{
	margin-top:30px;
	width: 60%;
	margin-left:20%;
	text-align: justify;

}

nav{
	position:relative;
	z-index:10;
}
/* pour la premier page */
.pageone{
    width: 100%;
    height: 100%;
   
}
/* image de font premiere page */
.font{
    background: url(./images/font.jpg) ;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

#font{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
       
  }
/* Menu */
#menu{
  position: fixed;

}

html, body {
padding : 0;
margin : 0;
height : 100%;
}