.test{
	height:100vh;
}


footer{
	height:8%;
}

html, body {
padding : 0;
margin : 0;
height : 100%;
}


/* image de font premiere page */
.font{
    background: url(../files/images/nuage.svg)no-repeat center center;
    width: 100%;
    height: 100vh;
    background-size : cover;
    
    /* height: 570px;*/
}

.font2{
    background: url(../files/images/nuage2.svg)no-repeat center center;
    width: 100%;
    height: 100vh;
    background-size : cover;
    
    /* height: 570px;*/
}

/* pour la premier page */
.pageone{
    width: 100%;
    height: 100%;
   
}
#font{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
       
  }

.centrer{
    text-align: center;
}
.blanc{
    color:white;
}
.textegris{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #717171;
}

.titre {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.5px;
    color: #1f1f2e;
    text-transform: uppercase;
}
.cardContent{
    position: relative;     
    padding: 35px 45px;
    border-radius: 45px; 
    margin: .5rem 0 1rem 0;
    background-color: white;
   
}

/* Ligne rouge */
.bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, 
      rgba(243, 68, 68, 0) 0%, 
      rgba(243, 68, 68, 0) 3%,
      #F62D51 40%,
      #F62D51 60%,
      rgba(243, 68, 68, 0) 97%,
      rgba(243, 68, 68, 0) 100%); }

.masque{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 5px;
    background-color: white;
}


/* INSCRIPTION */

.boxinscription{
    position: relative;
    margin-top: 22px;
}
#info{
    margin-top: 200px;
    position: relative;
    z-index: 2;
    
  }

.register {
    position: relative;
    display: block;
    width: 180px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    border-radius: 100px;
    background-color: #F62D51;
    color: #423e2f;
    text-shadow: 0px 1px 0 rgba(247, 50, 86, 0.39);
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    transition: all .3s;
    box-shadow: 0 2px 15px 0 rgba(243,210,68,0.4);
    cursor: pointer;
}
